.title {
    font-family: Script; 
    color: #CC0000; 
    font-size: 60px;
    margin: 9px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.box {
    padding:5px;
    border: solid;
    border-color: #bbb;
    margin-right: 40px;
    margin-left: 40px;

}
.box2 {
    position: relative;
    top: 1px;
    margin-top: 20px;
}

.question{
    height: 30px;
    width: 30px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    color:black
}
.question-alt{
    background-color: #bbb;
    border-radius: 100px;
    display: inline-block;
    color:black
}


#lab2-q1 {
    color: blue;
    background-color: rgb(128,255,128);
    margin-top: 40px;
    margin-bottom: 20px;
}

#lab2-q2-bod {
    background-image: url("../img/Lab2/bg.jpg");
    background-repeat: repeat-y;
    height:200px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#lab2-q2-bod>h1 {
    background-image: url("../img/Lab2/bg1.jpg");
}
#lab2-q2-h2 {
    background-image: url("../img/Lab2/bg2.jpg");
}

#dicd {
    letter-spacing: 3cm;
    text-align: center;
}
#icd {
    letter-spacing: -3px;
    text-align: right;
}

.style1 {
    font-style: italic;
}

.style2 {
    font-weight: 900;
    font-size: 30px;
    font-family: Courier New;
}

#header {
    color: red;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;     
}

.blue {
    color: blue;
    text-decoration: line-through;
}

.c1 {
    border-color: red;
    border-style: dotted;
    padding: 0px;
}

.c2 {
    border-left:blue double 3px; 
    border-right:blue double 2px;
}

.table{
    border: 2px;
    border-style: solid;
    border-color: green;
    
}

.data {
    border: 1px;
    border-style: solid;
    border-color: orange; 
    padding: 10px;
}

.pointer1 {
    list-style-image:url(../img/Lab2/b1.gif);
}

.pointer2 {
    list-style-image:url(../img/Lab2/b2.gif);
}

.div1 {
    position: relative;
    left: 10;
    top: 10;
    width: 100px;
    height: 100px;
    background-color: pink;
    overflow: hidden;
    cursor: move;   
}
.div2{
/*    can't do absoulte    */
    position: relative;
    left:50;
    top:20;
    width:100px;
    height:50px;
    background-color:gray;
    overflow:scroll;
    cursor:pointer;
}

.q9link a:link {
    color: red;
    font-size: 200%;
}
.q9link a:visited {
    color: pink;
    text-decoration: line-through;
}
.q9link a:hover {
    background-color: orange;
}
.q9link a:active {
    font-size: 50%;
}

#lab3-q2 {
    height: 400px;
}