/* CSS Document */

/*PAGE LAYOUT*/
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
#logo{float:left; background-image:url(../img/bg.gif); width:264px; height:213px;}
#topheader{float:right; width:526px; height:97px; background-color:#F0F0F0; position:relative}
#toplinks{position:absolute; right:10px; top:10px;}
#menu{float:right; width:526px; height:32px; background-image:url(bg_menu.gif); background-repeat:repeat-x;}
#submenu{float:right; width:526px; height:32px; background-image:url(bg_submenu.gif); background-position:top; background-repeat:repeat-x;}
#contenttext{float:right; width:526px;}
#leftpanel{float:left; width:274px;}
#footer{float:left; width:800px; background-color:#F0F0F0; padding:10px;}

/*GRAY PANEL*/
.graypanel{
	border:solid 1px #666666; background-color:#F7F7F7; padding:10px; margin:10px;
}

/*TEXT STYLES*/
.bodytext {
	font: 0.7em Tahoma, sans-serif;
	color: #666666;
}

.titletext {
	font: 0.7em Tahoma, sans-serif;
	font-size:36px;
	font-weight:bold;
	color:#CC0000;
}
.whitetitle {
	font: 0.7em Tahoma, sans-serif;
	font-size:36px;
	font-weight:bold;
	color:red;
}
.smalltitle {
	font: 0.7em Tahoma, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#CC0000;
}
.smallwhitetext {
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #FFFFFF;
}
.smallwhitetext a{
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #FFFFFF;
	text-decoration:none;
}
.smallwhitetext a:hover{
	text-decoration:underline;
}
.smallgraytext {
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color:#999999;
}
.smallgraytext a{
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color:#999999;
	text-decoration:none;
}
.smallgraytext a:hover{
	text-decoration:underline;
}
.smallredtext {
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color:#CC0000;
}
.smallredtext a{
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color:#CC0000;
	text-decoration:none;
}
.smallredtext a:hover{
	text-decoration:underline;
}


.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 10px;
  font-size: 10px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
